*.o
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
missings/.deps/
src/.deps/
src/.dirstamp
stamp-h1
fdkaac
.vscode
fdk-aac
MSVC/Release
MSVC/Debug
MSVC/x64/Release
MSVC/x64/Debug
MSVC/fdk-aac
MSVC/*.vcxproj.user
