#include <winresrc.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "fdkaac.manifest"

#define VER_VERSION 1,0,2,0
//The version parameter is two 32-bit integers, defined by four 16-bit integers.
#define VER_VERSION_STR "1.0.2"
#define VER_LEGALCOPYRIGHT_STR "(c) nu774 2013-2021"

1 VERSIONINFO
//Version-information resource identifier. This value must be 1.
FILEVERSION VER_VERSION
PRODUCTVERSION VER_VERSION
FILEOS 0x4
//VOS_NT 0x4 File was designed for 32-bit Windows.
FILETYPE 0x2
//VFT_DLL 0x2 File contains a dynamic-link library (DLL).

{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "FileDescription", "Command line frontend for libfdk-aac encoder"
		VALUE "FileVersion", VER_VERSION_STR
		VALUE "LegalCopyright", VER_LEGALCOPYRIGHT_STR
		VALUE "OriginalFilename", "fdkaac.exe"
		VALUE "ProductVersion", VER_VERSION_STR
		VALUE "ProductName", "FDKAAC"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409, 1252
}
}
